<h1>Особенности фильтров</h1>
<p>поддерживаются опции наведенные в таблице ниже:</p>
<table width="520" cellpadding="10" border="1">
  <tbody>
  <tr>
  <th>опция</th>
  <th>пример</th>
  </tr>

  <tr>
    <td>AND (И)</td>
    <td>красный AND черный</td>
  </tr>

  <tr>
    <td>OR (ИЛИ)</td>
    <td>баран OR овца</td>
  </tr>
  <tr>
    <td>"" (кавычки)</td>
    <td>"На дворе сегодня ясно"</td>
  </tr>

  <tr>
    <td>выражения</td>
    <td>красный AND (синий OR зеленый)</td>
  </tr>

  <tr>
    <td>NOT (не)</td>
    <td>крокодил AND NOT (попугай OR пиликан)</td>
  </tr>

  <tr>

    <td>Числовые выражения:
      <div>
        Равно (=)
        <br>
        НЕ равно (!=)
        <br>
        Больше (>)
        <br>
        Больше или равно (>=)
        <br>
        Меньше (<)
        <br>
        Меньше или равно (<=)

      </div>
    </td>
    <td> Данные опции работают только с числами
      <div>
        = 150
        <br>
        != 100
        <br>
        > 70
        <br>
        >= 55
        <br>
        < 20
        <br>
        <= 0

      </div>
    </td>
  </tr>
  </tbody>

</table>
