<%if params[:course_id].present? && @t_select_list.present?%>
    <div class="input">
      <label for="course_id" class="select required control-label"><abbr title="required">*</abbr>преподаватель</label>
      <%= collection_select(:teacher_id , nil, @t_select_list, :id, :name, {:include_blank => true}, {onchange: "$.post('search_options',  {course_id: #{params[:course_id]}, teacher_id: $(this).val()}, {}, 'script' );"}) %>
    </div>

    <%if params[:teacher_id].present? && @s_select_list.present?%>
        <div class="input">
          <label for="course_id" class="select required control-label"><abbr title="required">*</abbr>график</label>
          <%= collection_select(:schedule_id , nil, @s_select_list, :id, :graphic, {:include_blank => true}, {onchange: "$.post('search_options',  {course_id: #{params[:course_id]}, teacher_id: #{params[:teacher_id]}, schedule_id: $(this).val()}, {}, 'script' );"}) %>
        </div>

        <%if params[:schedule_id].present? && @office.present?%>
            <div class="input">
              <label for="course_id" class="select required control-label"><abbr title="required">*</abbr>офис</label>
              <%= text_field :office_name, nil, :autocomplete => 'off'%>
              <%= hidden_field :office_id, nil%>
            </div>
        <%end%>
    <%end%>
<%end%>

