<div class="input">
  <label for="course_id" class="select required control-label"><abbr title="required">*</abbr>курс</label>

  <%= collection_select(:course_id , nil, @client_courses, :id, :name, {:include_blank => true}, {onchange: "$.post('search_options',  {course_id: $(this).val(), client: $('#client_new').val()}, {}, 'script' );"}) %>

</div>