@import "bootstrap.min.css";
@import "jquery-ui-timepicker-addon.css";
@import "jquery-ui.css";

label {margin-right: 20px;}
.sort{
  cursor: pointer;
  color: #2e54ed;

}
.sort .header{
  text-align: center;
}

#date_time{
  margin-top: 20px;
  margin-bottom: 20px;
  label{
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 143px;
  }
  div{
    margin-bottom: 3px;
  }
}

.input{
  margin-bottom: 3px;
  label{
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 160px;
  }
}

#submit{
  margin-left: 180px;
  text-align: left;
  input{
    width: 99px;
  }
  div{
    margin-top: 3px;
    width: 99px;
    a{
      padding: 2px 0px;
      display: block;
    }
  }
}

#demotable{
  thead, tbody{
    th, td{
      border: 1px solid #696969;
      border-collapse: collapse;
    }
    input{
      padding: 0;
    }
  }
}
#result, #count{
  border-bottom: 1px solid #696969;
}

#fix-outlays, #fix-payments{
  label.radio{
   text-align: left;
    width: 100px;
 }
  div{
    display: inline-block;
  }
}

ul.ui-autocomplete{
  width: 200px;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: pointer;
  li{
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a{
      color: #000;
      display: block;
      padding: 3px;
      text-decoration: none;
    }
    a.ui-state-hover, a.ui-state-active{
      background-color: #FFFCB2;
    }
  }
}
#remember_me{
  margin-left: 182px;
  label{
    text-align: left;
  }

}

#new_salary{
  margin-top: 20px;
  margin-bottom: 20px;
  label{
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 160px;
  }
  div{
    margin-bottom: 3px;
  }
}

#current_course {
  margin-top: 3px;
  margin-bottom: 3px;
  label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 160px;
  }

}

#graphic, #order_number_{
  margin-bottom: 3px;
}

  #outlay_date_1i, #salary_date_1i, #msalary_date_1i, #payment_date_1i{
    width: 68px;
  }
 #outlay_date_2i, #salary_date_2i, #msalary_date_2i, #payment_date_2i{
    width: 105px;
 }
 #outlay_date_3i, #outlay_date_4i, #outlay_date_5i,
 #salary_date_3i, #salary_date_4i, #salary_date_5i,
 #msalary_date_3i, #msalary_date_4i, #msalary_date_5i,
 #payment_date_3i, #payment_date_4i, #payment_date_5i{
    width: 50px;
 }

.ui-widget-header .ui-icon {
  background-image: url("ui-icons_222222_256x240.png");
}


.pagination {
  background: white;
  cursor: default;
  height: 22px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
b {
  color: #000033;
  background: #2e6ab1 + 60;
  padding: 0.1em 0.25em;
}
  }
  }



