@import "bootstrap-responsive.min.css";
@import "bootstrap.min.css";
@import "jquery-ui-timepicker-addon.css";

label {margin-right: 20px;}
.sort{
  cursor: pointer;
  color: #2e54ed;

}
.sort .header{
  text-align: center;
}

#date_time{
  margin-top: 20px;
  margin-bottom: 20px;
  label{
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 143px;
  }
  div{
    margin-bottom: 3px;
  }
}

.input{
  margin-bottom: 3px;
  label{
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 160px;
  }
}

#submit{
  margin-left: 180px;
  text-align: left;
  div{
    margin-top: 3px;
    a{
      line-height: 14px;
      width: 68px;
    }
  }
}

#demotable .sort th{
  border-top: 1px solid #DDDDDD;
}
#result, #count{
  border-bottom: 1px solid #DDDDDD;
}

#fix-outlays, #fix-payments{
  label.radio{
   text-align: left;
    width: 100px;
 }
  div{
    display: inline-block;
  }
}

ul.ui-autocomplete{
  width: 200px;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: pointer;
  li{
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a{
      color: #000;
      display: block;
      padding: 3px;
      text-decoration: none;
    }
    a.ui-state-hover, a.ui-state-active{
      background-color: #FFFCB2;
    }
  }
}
#remember_me{
  margin-left: 182px;
  label{
    text-align: left;
  }

}

#new_salary{
  margin-top: 20px;
  margin-bottom: 20px;
  label{
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 160px;
  }
  div{
    margin-bottom: 3px;
  }
}