// Place all the styles related to the Salaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#teacher_label, #course_label, #schedule_label{
  width: 160px;
  float: left;
  text-align: right;
}

#new_salary{
  label{
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 100px;
  }
  #pay_type{
    display: inline-block;
  }
}
